<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="app">
        <intro-page v-if="isIntro" :enabled="startEnabled"></intro-page>
        <test-page
            v-if="isTest"
            :question-number="questionNumber"
            :question-block="questionBlock"
            :total-steps="totalSteps"
            :can-go-back="!isResettingEmail"
        ></test-page>
        <results-page
            v-if="isResults"
            :results="results.mappedResults"
        ></results-page>
        <loader v-if="isLoading"></loader>
        <error
            v-if="isError"
            :params="errorParams"
            :title="errorParams.title"
            :text="errorParams.text"
            :option-back="errorParams.optionBack"
            :option-forwards="errorParams.optionForwards"
        ></error>
    </div>
    
    
    <script src="scripts/fileSaver.js"></script>
    <script src="scripts/html2canvas.min.js"></script>
    <script src="./scripts/cookies.js"></script>

    <script>let globalApp = true;</script>
    
    <script type="module" src="./script.js"></script>
</body>
</html>